.wrapper {
    display: flex;

    @media (width < 800px) {
        flex-direction: column-reverse;
    }
}

.bg_image {
    background-image: url("/auth-bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    @media (width >= 800px) {
        background-position: right;
        height: 100dvh;
    }

    @media (width < 800px) {
        background-position: center;
        height: 30dvh;
    }
}

.login {
    --padding-lr: 20px;
    --padding-tp: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 400px;
    height: 100dvh;
    padding: var(--padding-tp) var(--padding-lr);
    border-radius: 0;
    background-color: rgb(var(--white));
    color: rgb(var(--black));
    font-size: 1.2rem;
    position: relative;

    @media (width < 800px) {
        height: 70dvh;
        max-width: 100%;
        min-width: 100%;
    }

    & > h1 {
        margin-bottom: 30px;
        font-size: 2rem;
        text-align: center;
    }

    & > form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: inherit;

        & > input {
            min-width: 100%;
            font-size: inherit;
            text-align: center;
        }

        & > .button {
            align-self: center;
        }
    }

    & > .link {
        font-size: 0.9rem;
        text-decoration: underline;

        &.or_link {
            position: absolute;
            right: var(--padding-lr);
            display: block;

            @media (width >= 800px) {
                bottom: var(--padding-tp);
            }

            @media (width < 800px) {
                top: calc(var(--padding-tp) - 20px);
            }
        }
    }
}
