.button {
    &:focus {
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        cursor: pointer;
    }

    font-family: inherit;
    font-size: inherit;
}

.button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: rgb(var(--black));

    &:hover, &:focus-visible {
        background-color: rgb(var(--black));
    }
}

.default {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(var(--black) / .8);
    color: rgb(var(--white));
    border: none;

    transition: background-color .1s ease-in-out;

    &:hover, &:focus-visible {
        background-color: rgb(var(--black));
    }
}

.send {
    border: none;
    background: transparent;
    color: rgb(var(--white));

    transition: background-color .1s ease-in-out;

    &:hover, &:focus-visible {
        background-color: rgb(var(--white) / 0.1);
    }
}

.search {
    border: none;
    background-color: transparent;
    color: rgb(var(--white));
    padding: 10px 30px;

    &:hover, &:focus-visible {
        background-color: rgb(var(--white) / 0.1);
    }
}

.icon {
    --icon-size: 18px;
    --padding: 5px;

    background-color: transparent;
    border: none;
    padding: var(--padding);

    aspect-ratio: 1 / 1;

    transition: background-color .1s ease-in-out;

    &:hover, &:focus-visible {
        background-color: rgb(var(--white) / 0.1);
    }

    & svg {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

.link {
    border: none;
    background: transparent;
    color: rgb(var(--black) / .8);

    transition: color .1s;

    &:hover, &:focus-visible {
        color: rgb(var(--black));
    }
}
