.chat_info {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
        "icon name"
        "icon last_seen";
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    position: relative;

    & .icon {
        grid-area: icon;

        @media (width < 800px) {
            margin-left: 60px;
        }
    }

    & .name {
        grid-area: name;
    }

    & .last_seen {
        grid-area: last_seen;
    }

    & .return_button {
        --icon-size: 24px;

        grid-area: close;
        width: 36px;
        height: 36px;
        display: none;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 0;
        height: 100%;
        width: 80px;
        padding-bottom: 70px;
        margin-left: -10px;
        margin-top: -10px;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        stroke: rgb(var(--white));
        fill: none;
        transition: stroke .1s ease-in-out;

        & div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media (width < 800px) {
        grid-template-columns: max-content max-content 1fr;
        grid-template-areas:
            "close icon name"
            "close icon last_seen";

        & .return_button {
            display: block;
        }
    }
}

.icon {
    --padding: 10px;

    grid-column: span 1;
    grid-row: span 2;
    padding: var(--padding);
    width: calc((var(--padding) * 2) + 24px);
    height: calc((var(--padding) * 2) + 24px);
    stroke: rgb(var(--white));
    border-radius: 50%;
    border: 1px solid rgb(var(--white));
}
