.item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--bd-color);
    padding: 0;
}

.button {
    padding: var(--item-padding) calc(var(--item-padding) / 2);
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.remove_button {
    aspect-ratio: 1/1;
}

.button,
.remove_button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;

    transition: background-color .1s ease-in-out;

    &:focus {
        outline: none;
    }

    &:hover, &:focus-visible {
        background-color: rgb(var(--white) / 0.1);
    }
}

.index {
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
    color: rgb(var(--white) / 0.5);
}

.icon {
    --padding: 10px;

    padding: var(--padding);
    width: calc((var(--padding) * 2) + 24px);
    height: calc((var(--padding) * 2) + 24px);
    stroke: rgb(var(--white));
    fill: none;
    border-radius: 50%;
    border: 1px solid rgb(var(--white));
}
