.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;

    & > *:last-child {
        margin-top: 15px;
    }
}
